<!DOCTYPE html>
<html>
<head>
    <title>Facebook Checkins for Mike</title>
</head>
<body>
<h1>Facebook Friends</h1>
<p>This page should display a list of Mike's facebook checkins. While this will not inevitably be displayed
on its own, this information is vital to our aggregation algorithm and should be tested!</p>
{% if checkins %}
    <ul>
    {% for checkin in checkins %}
        <li>{{checkin}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No checkins available at this time.</p>
{% endif %}
</body>
</html>
