{% extends "base.html" %}

{% block header_addons %}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwZMghR10qu_E1hvmt4UGo_ZCurDTuwAc&sensor=true">
</script>
<script type="text/javascript" src="static/js/ridemix_map.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/home_loggedin.css">
{% endblock %}

{% block content %}
<h1>RideMix</h1>

<a href="/logout">Log Out</a>


<div id="map_canvas" style=";"></div>
<div id="friend_list" style="display:none;">
  <h3>Add friends to your current Ride!</h3>
  <table>
    {% for friend in friends %}
    <tr>
      <td><input type="checkbox" /> {{ friend }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div id="location_list" style="display: none;">
  <table>
  {% for place in places %}
    <tr>
      <td class="col1">{{ place.name }}</td>
      <td class="col2">{{ place.distance}} miles</td>
    </tr>
  {% endfor %}
  </table>
</div>
<div id="navbar" class="table">
  <div class="row">
    <div id="map_button" class="cell">Map</div>
    <div id="list_button" class="cell">List</div>
    <div id="friend_button" class="cell">Friends</div>
  </div>
</div>

<script>
  window.watchID = navigator.geolocation.watchPosition(nav_callback);
</script>

{% endblock %}
