{% extends "base.html" %}
{% block header_addons %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/splash.css">
   <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="stylesheet"
          href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
 <script src="http://code.jquery.com/jquery-1.7.2.min.js">
        </script>
        <script 
          src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js">
        </script>
<style type="text/css">
  body {
    background-color: #333399;
  }
  #facebookloginbutton {
    -moz-box-shadow: 0.5px 0.5px 1px 1.5px grey;
    -webkit-box-shadow: 0.5px 0.5px 1px 1.5px grey;
    box-shadow: 0.5px 0.5px 1px 1.5px grey;
    margin-top: 90px;
  }
  .ui-collapsible-inset .ui-collapsible-content {
    background-color: #ffffff;
    text-align: left;
  }
  .ui-collapsible-heading .ui-btn-inner {
    text-align: center;
  }
  .ui-collapsible-set {
    position: absolute;
    top: 300px;
    width: 100%;
    margin-bottom: 0px;
  }
  .ui-controlgroup {
    position: absolute;
    bottom: 0%;
    margin-bottom: 0px;
    width: 100%;
  }
  .ui-controlgroup-horizontal.ui-mini .ui-btn-inner {
    background-color: #999999;
    border-color: #999999;
    color: #ffffff;
    text-shadow: none;
  }
  .ui-popup {
    text-align: left; 
  } 
</style>
{% endblock %}
{% block content %}
<img src="{{ STATIC_URL }}media/logoBlackShadow.png" alt="RideMix Logo" style = "height: 70px; padding-top: 15%;">
<div><a onclick="window.location='login/facebook';"><img id="facebookloginbutton" src="{{ STATIC_URL }}media/login-button.png" alt="Login with Facebook"></a></div>
<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <a href="#mission" data-role="button" data-rel="popup" data-position-to="window">Mission</a>
  <a href="#how" data-role="button" data-rel="popup" data-position-to="window">How It Works</a>
  <a href="#contact" data-role="button" data-rel="popup" data-position-to="window">Contact Us</a>
</div>
<div data-role="popup" id="mission" data-overlay-theme="a">
    <p>RideMix aims to provide personalized recommendations for the group of people in your car! We gather information from all your different social networks including Facebook, Yelp, and Foursquare to provide the best suggestions for everyone</p>
</div>
<div data-role="popup" id="how" data-overlay-theme="a">
    <p>RideMix is a web application that provides the user with real-time suggestions for things to do based on your current location. We generate different results for every group of people, providing a unique experience every time. In addition to places information, we also generate different conversation topics for people in the car to alleviate any awkward car rides and trips.</p>
    <p>You simply log in to Facebook once and we will be able to give you different recommenations for you and all your friends whereever and whenever.</p>
</div>
<div data-role="popup" id="contact" data-overlay-theme="a">
    <p>We are a group of Stanford students and RideMix is our product for our CS 210 class. We have been working on this product for the past two quarters with our corporate sponsor Volkswagen.</p>
    <p>We would love to hear any feedback you may have. Please email us at thebeetles-cs210@lists.stanford.edu.</p>
</div>
{% endblock %}
