{% extends "base.html" %}
{% block header_addons %}
<style type="text/css">
  body {
    background-color: #333399;
  }
  #facebookloginbutton {
    -moz-box-shadow: 0.5px 0.5px 1px 1.5px grey;
    -webkit-box-shadow: 0.5px 0.5px 1px 1.5px grey;
    box-shadow: 0.5px 0.5px 1px 1.5px grey;
    margin-top: 90px;
  }
</style>
{% endblock %}
{% block content %}
<img src="{{ STATIC_URL }}media/logoBlackShadow.png" alt="RideMix Logo" style = "height: 70px; padding-top: 15%;">
<div><a href=" /login/facebook"><img id="facebookloginbutton" src="{{ STATIC_URL }}media/login-button.png" alt="Login with Facebook"></a></div>
{% endblock %}
