<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>
        </title>
        <link rel="stylesheet"
          href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet"
          href="{{ STATIC_URL}}css/ridemix.css" />
        <script src="http://code.jquery.com/jquery-1.7.2.min.js">
        </script>
        <script 
          src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js">
        </script>
        <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwZMghR10qu_E1hvmt4UGo_ZCurDTuwAc&sensor=true">
        </script>
        <script 
          src="{{ STATIC_URL }}js/friends.js">
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ridemix.js"></script>
	<style type="text/css">
	  .ui-footer .ui-navbar .ui-grid-b .ui-block-a .ui-btn .ui-btn-inner {
	    padding-top: 10px;
	  }
	  .ui-footer .ui-navbar .ui-grid-b .ui-block-b .ui-btn .ui-btn-inner {
	    padding-top: 10px;
	  }
	  .ui-footer .ui-navbar .ui-grid-b .ui-block-c .ui-btn .ui-btn-inner {
	    padding-top: 10px;
	  }
	</style>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="home_page">
            <div data-theme="a" data-role="header">
                <h3>
                    RideMix
                </h3>
            </div>
            <div data-role="content">
              <div id="map_canvas" style="height: 500px"></div>
            </div>
            <div data-theme="a" data-role="footer" data-id"myFooter" data-position="fixed">
                <div id="navbar" data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="#home_page" data-transition="fade" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
                                Map
                            </a>
                        </li>
                        <li>
                            <a href="#location_page" data-transition="fade" data-theme="" data-icon="">
                                Places
                            </a>
                        </li>
                        <li>
                            <a href="#friend_page" data-transition="fade" data-theme="" data-icon="">
                                Friends
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Search Results -->
        <div data-role="page" id="location_page">
            <div data-theme="a" data-role="header">
                <h3>
                    RideMix
                </h3>
            </div>
            <div data-role="content">
                <div id="trending_nav" data-role="navbar">
                    <ul>
                        <li><a href="#" id="general_places_button">General</a></li>
                        <li><a href="#" id="trending_now_button">Trending Now</a></li>
                    </ul>
                </div>
                <div id="places_list" data-role="collapsible_set">
                </div>
            </div>
            <div data-theme="a" data-role="footer" data-id"myFooter" data-position="fixed">
                <div id="navbar2" data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="#home_page" data-transition="fade" data-theme="" data-icon="">
                                Map
                            </a>
                        </li>
                        <li>
                            <a href="#location_page" data-transition="fade" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
                                Places
                            </a>
                        </li>
                        <li>
                            <a href="#friend_page" data-transition="fade" data-theme="" data-icon="">
                                Friends
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Facebook Friends -->
        <div data-role="page" id="friend_page">
            <div data-theme="a" data-role="header">
                <h3>
                    RideMix
                </h3>
            </div>
            <div data-role="content">
                <div id="friend_selected_list" data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                        <legend>
                            Selected:
                        </legend>
                        <div id="selected_list"></div>
                    </fieldset>
                </div>
<!--                <div id="friend_frequent_list" data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
                        <legend>
                            Frequently Added:
                        </legend>
                        <input id="checkbox1" name="" type="checkbox" />
                        <label for="checkbox1">
                            Option
                        </label>
                    </fieldset>
                </div> -->
                <div data-role="fieldcontain" id="friend_add_select">
                    <fieldset data-role="controlgroup" data-mini="true">
                        <label for="friend_add_select">
                            Add friends to your ride
                        </label>
                        <input name="" id="friend_add_select" placeholder="Friend Name" value="" type="search" />
                    </fieldset>
                </div>
                <div id="friend_add_list" data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
                        <!--<input id="checkbox3" name="" type="checkbox" />
                        <label for="checkbox3">
                            Option
                        </label>
                        <input id="checkbox5" name="" type="checkbox" />
                        <label for="checkbox5">
                            Option
                        </label>-->
                    </fieldset>
                </div>
            </div>
            <div data-theme="a" data-role="footer" data-id"myFooter" data-position="fixed">
                <div id="navbar3" data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="#home_page" data-transition="fade" data-theme="" data-icon="">
                                Map
                            </a>
                        </li>
                        <li>
                            <a href="#location_page" data-transition="fade" data-theme="" data-icon="">
                                Places
                            </a>
                        </li>
                        <li>
                            <a href="#friend_page" data-transition="fade" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
                                Friends
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
