{% extends "base.html" %}
{% block header_addons %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/splash.css">
{% endblock %}

{% block content %}


<div id="background-rings">
  <img src="{{ STATIC_URL }}media/threeRingsWhite.png" style="width:95%; position:absolute; top:5%; left:3%"/>
</div>
<div id="logo">
  <img src="{{ STATIC_URL }}media/logo.png" style="width:100%"/>
</div>
<div class="button" id="hungry" onclick="window.location='new_home';">I'm hungry</div>
<div class="button" id="bored"  onclick="window.location='new_home';">I'm bored</div>
<div class="button" id="choosing" onclick="window.location='new_home';">I'm choosing</div>

{% endblock %}
