<html>
<head>
  <title>Where do you get your recommendations?</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="static/js/survey.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/survey.css">
</head>
<body>
<h1>Where do you get your recommendations?</h1>

<form id="survey_form" name="survey_form" action="/recommendation_survey" method="post">{% csrf_token %}

<div class="question">
  <label class="question_text">*1. How often do you use Yelp?</label><br />
  <div class="option">
    <input type="radio" name="yelp_use" id="yelp_use_mult" value="mult" />
    <label for="yelp_use_mult"> Multiple times per day</label>
  </div>
  <div class="option">
    <input type="radio" name="yelp_use" id="yelp_use_daily" value="daily" />
    <label for="yelp_use_daily"> Daily</label>
  </div>
  <div class="option">
    <input type="radio" name="yelp_use" id="yelp_use_weekly" value="weekly" />
    <label for="yelp_use_weekly"> Weekly</label>
  </div>
  <div class="option">
    <input type="radio" name="yelp_use" id="yelp_use_monthly" value="monthly" />
    <label for="yelp_use_monthly"> Monthly</label></div>
  <div class="option">
    <input type="radio" name="yelp_use" id="yelp_use_never" value="never" />
    <label for="yelp_use_never"> Never</label>
  </div>
</div>

<div class="question">
  <label class="question_text">*2. Do you trust the reviews provided by Yelp?</label><br />
  <div class="option">
    <input type="radio" name="yelp_trust" id="yelp_trust_use" value="trust_use" />
    <label for="yelp_trust_use"> Yes, I trust them and use them to help make decisions about where to go.</label>
  </div>
  <div class="option">
    <input type="radio" name="yelp_trust" id="yelp_trust_trust_dont_use" value="trust_dont_use" />
    <label for="yelp_trust_trust_dont_use"> Yes, I trust them but do not really use them.</label>
  </div>
  <div class="option">
    <input type="radio" name="yelp_trust" id="yelp_trust_dont_trust" value="dont_trust" />
    <label for="yelp_trust_dont_trust"> No, I do not trust them.</label>
  </div>
  <div class="option">
    <input type="radio" name="yelp_trust" id="yelp_trust_dont_use" value="dont_use" />
    <label for="yelp_trust_dont_use"> I don't use Yelp</label>
  </div>
</div>

<div class="question">
  <label class="question_text">*3. How often do you use Facebook?</label><br />
  <div class="option">
    <input type="radio" name="facebook_use" id="facebook_use_mult" value="mult" />
    <label for="facebook_use_mult"> Multiple times per day</label>
  </div>
  <div class="option">
    <input type="radio" name="facebook_use" id="facebook_use_daily" value="daily" />
    <label for="facebook_use_daily"> Daily</label>
  </div>
  <div class="option">
    <input type="radio" name="facebook_use" id="facebook_use_weekly" value="weekly" />
    <label for="facebook_use_weekly"> Weekly</label>
  </div>
  <div class="option">
    <input type="radio" name="facebook_use" id="facebook_use_monthly" value="monthly" />
    <label for="facebook_use_monthly"> Monthly</label>
  </div>
  <div class="option">
    <input type="radio" name="facebook_use" id="facebook_use_never" value="never" />
    <label for="facebook_use_never"> Never</label>
  </div>
</div>

<div class="question">
  <label class="question_text">*4. Do you trust the opinions of your Facebook friends?</label><br />
  <div class="option">
    <input type="radio" name="facebook_trust" id="facebook_trust_use" value="trust_use" />
    <label for="facebook_trust_use"> Yes, I trust their opinions and use them to help make decisions about where to go.</label>
  </div>
  <div class="option">
    <input type="radio" name="facebook_trust" id="facebook_trust_trust_dont_use" value="trust_dont_use" />
    <label for="facebook_trust_trust_dont_use"> Yes, I trust them but don't really consider them.</label>
  </div>
  <div class="option">
    <input type="radio" name="facebook_trust" id="facebook_trust_dont_trust" value="dont_trust" />
    <label for="facebook_trust_dont_trust"> No, I do not trust their opinions.</label>
  </div>
  <div class="option">
    <input type="radio" name="facebook_trust" id="facebook_trust_dont_use" value="dont_use" />
    <label for="facebook_trust_dont_use"> I don't use Facebook</label>
  </div>
</div>

<div class="question">
  <label class="question_text">*5. When looking for recommendations, which of the following resources (if any) do you use?</label><br />
  <div class="option">
    <input type="checkbox" name="recommendation_sources" id="recommendation_sources_facebook" value="facebook" />
    <label for="recommendation_sources_facebook">Foursquare</label>
  </div>
  <div class="option">
    <input type="checkbox" name="recommendation_sources" id="recommendation_sources_yelp" value="yelp" />
    <label for="recommendation_sources_yelp">Yelp</label>
  </div>
  <div class="option">
    <input type="checkbox" name="recommendation_sources" id="recommendation_sources_foursquare" value="foursquare" />
    <label for="recommendation_sources_foursquare">Foursquare</label>
  </div>
  <div class="option">
    <input type="checkbox" name="recommendation_sources" id="recommendation_sources_none" value="none" />
    <label for="recommendation_sources_none">None</label>
  </div>
  <div class="special_option"><label class="other" for="recommendation_other">Other (please specify)</label><br />
    <input type="text" name="recommendation_other" id="recommendation_other" />
  </div>
</div>

<div class="question">
  <label class="question_text">OPTIONAL: Enter your email for a chance to win an Amazon gift card!</label><br />
  <div id="privacy_notice">Your email will be used ONLY to determine a gift card winner and contact that winner. Our <a href="/privacy">Privacy Policy</a> can provide more information.
  </div>
  <input type="text" name="email" id="email" />
</div>

<input type="submit"></input>
</form>
</body>
