<html>
<head>
  <title>Yelp Query</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <style>
.question { margin: 40px 0 40px 0; }
.question_text { font-weight: bold; margin-bottom:10px}
.option { position: relative; }
.option input { position: absolute; top: 4px; left: 4px; }
.option label { display: inline-block; width: 100%; padding: 5px 0 5px 30px; }
.option label:hover { background-color: rgba(100, 100, 100, 0.10); cursor:pointer;}
.other { font-weight: normal; }
  </style>
  <script>
    $(function() {
      $("#yelp_form").submit(function(e){
        e.preventDefault();

	
	var term = $("#term").val();
	var limit = $("[name='limit']:checked").val();
	var sort = $("[name='sort']:checked").val();
	
	if(limit == undefined) {
          alert("Please select a limit for the number of results.");
	  return false;
	}
	if(sort == undefined) {
          alert("Please select a sort type.");
	  return false;
	}	
        return true;
      });

    });
  </script>	
</head>
<body>

<form id="yelp_form" name="yelp_form" action="/yelp_query" method="post">{% csrf_token %}

<div class="question">
  <label class="question_text">Search term: </label>
  <input type="text" name="term">
</div>

<div class="question">
  <label class="question_text">Location: </label>
  <input type="text" name="location">
</div>

<div class="question">
  <label class="question_text">Results limit: </label>
  <div class="option">
    <input type="radio" name="results_limit" id="results_5" value=5 />
    <label for="results_5">5</label>
  </div>
  <div class="option">
    <input type="radio" name="results_limit" id="results_10" value=10 />
    <label for="results_10">10</label>
  </div>
  <div class="option">
    <input type="radio" name="results_limit" id="results_25" value=25 />
    <label for="results_25">25</label>
  </div>
  <div class="option">
    <input type="radio" name="results_limit" id="results_50" value=50 />
    <label for="results_50">50</label>
  </div>
</div>

<div class="question">
  <label class="question_text">Sort mode: </label>
  <div class="option">
    <input type="radio" name="sort" id="best" value=0 />
    <label for="best">Best Matched</label>
  </div>
  <div class="option">
    <input type="radio" name="sort" id="distance" value=0 />
    <label for="distance">Distance</label>
  </div>
  <div class="option">
    <input type="radio" name="sort" id="rating" value=1 />
    <label for="rating">Highest Rated</label>
  </div>
</div>


<input type="submit"></input>
</form>
</body>
