@font-face {
  font-family: VW;
  src: url('http://static.ridemix.com/prod/fonts/volkswagen-bold.ttf') format("truetype");
}

.button {
  //border-radius: 8px;
  height: 20%;
  font-family: VW;
  font-size: 14pt;
  //background-color: #0431B4;
  color: #FFFFFF;
  //border: none;
  //padding: 5px;
  //width: 40%;
  text-align: center;
  vertical-align: middle;
  cursor: hand; 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#hungry {
  position: absolute;
  top: 23%; 
  left: 30%;
  right: 30%;
}

#bored {
  position: absolute;
  top: 65%;
  left: 8%;
}

#bored {
  //position: absolute;
  //top: 15%;
  //left: 55%;
}

#choosing {
  position: absolute;
  top: 65%;
  right: 8%;
}

#logo {
  width: 90%;
  position: absolute;
  top: 30%;
  left: 5%;
}

.ui-mobile .ui-page {
  background: #333399;
}

#allButtons {
  position: absolute;
  top: 25%;
  left: 15%;
  right: 15%;
}
